# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip

# env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env

# etc
.DS_Store
.idea
**/.turbo

# compiled
chrome-extension/public/manifest.json
**/tailwind-output.css

.nanobrowser
.vscode
.cursor
*.py